<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.rxjavaandretrofitsimple">

    <!-- sd权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- /*自动布局的参数的设计稿宽和设计高*/ -->
        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.Launcher"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--QQ分享start-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent222222" />
                <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--QQ分享 end-->

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.DrivingTestActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.JokeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.HistoryTodayActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.SplashAdvertActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.WebClientActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.MultipleActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.WeChatActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.PhotosDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.WeatherActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.DataBindingActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.PDFActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>